.lang__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #828282;
}

.lang__link:first-of-type {
  border-right: 2px solid #070707;
  padding-right: 5px;
}