.skills__list {
  margin: 0 0 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 165px));
  grid-template-rows: repeat(auto-fit, 200px);
  max-width: 940px;
  justify-items: center;
  gap: 80px 90px;
}

@media screen and (max-width: 940px) {
  .skills__list {
    max-width: 85vw;
  }
}