.mobile-menu {
  background: url("../../images/burger.svg") no-repeat center;
  position: fixed;
  top: 75px;
  right: 30px;
  width: 35px;
  height: 20px;
}

@media screen and (min-width: 941px){
  .mobile-menu {
    display: none;
  }
}
