.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 940px) {
  .portfolio__item {
    margin-bottom: 80px;
  }
}