.main__home {
  padding-top: 128px;
  min-width: 940px;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 940px) {
  .main__home {
    min-width: 85vw;
    padding-top: 65px;
  }
}